.primary-font {
  font-family: "Novecento";
}
.secondary-font {
  font-family: "Novecento Mid";
}
.alt-font {
  font-family: "Novecento Cond";
}
.text-font {
  font-family: "Poppins", sans-serif;
}
.primary-bg {
  background-color: $primary-color !important;
}
.primary-text {
  color: $primary-color;
}
.secondary-text {
  color: $secondary-color;
}
.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: #30303074;
  position: absolute;
}
.primary-btn {
  background-color: $secondary-color;
  color: #fff;
  text-decoration: none;
  font-family: "Novecento Mid";
  padding: 15px 30px;
  border-radius: 25px;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: #c90a10;
  }
}
.underline-title {
  width: 100px;
  height: 3px;
  background-color: $secondary-color;
  margin: 0 auto;
}
