@import "variables", "classes", "mixins";

#preloader {
  z-index: 999;
  background-color: #fff;
  transition: all 0.4s;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  overflow: hidden;
  img {
    width: 120px;
    @include media(1025px) {
      width: 100px;
    }
    @include media(426px) {
      width: 90px;
    }
  }
}
#prenav {
  position: relative;
  z-index: 3;
  #social-icons {
    a {
      color: #000;
      transition: all 0.3s;
      &:hover {
        color: #c90a10;
      }
    }
  }
}
nav {
  z-index: 3;

  .navbar-brand {
    @include media($md) {
      top: -20px;
    }
    z-index: 3;
    img {
      &:nth-child(1) {
        width: 80px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        border-radius: 50%;
      }
      &:nth-child(2) {
        height: 35px;
        @include media($sm) {
          display: none;
        }
      }
    }
  }
  .navbar-nav {
    .underline {
      width: 0%;
      height: 2px;
      transition: all 0.3s;
      margin: 0 auto;
      background-color: $primary-color;
    }
    .nav-link {
      color: #000 !important;
      margin: 0px 15px;
      transition: all 0.3s;
      &:hover {
        .underline {
          width: 100%;
        }
        color: $primary-color !important;
      }
    }
    .active {
      color: $primary-color !important;
      .underline {
        width: 100%;
      }
    }
  }
}
#cover {
  background-image: url("/assets/img/cover-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .cover-text {
    width: 75%;
    margin: 0 auto;
  }
}
#features {
  .feature-img {
    margin: 0 auto;
    transition: all 0.3s;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    &:hover {
      box-shadow: none;
    }
  }
}
#about {
  background-image: url("/assets/img/cover-bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.54);
  }
  .underline-title {
    width: 100px;
    height: 3px;
    background-color: $secondary-color;
    margin: 0 auto;
  }
  .about-wrap {
    width: 75%;
    @include media($sm) {
      width: 100%;
    }
  }
}
#services {
  background-color: #eeeeee;
  .service {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 80px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #fff;
    transition: all 0.3s;
    &:hover {
      box-shadow: none;
      transform: translateY(10px);
    }
    @include media($lg) {
      width: 100%;
    }
    @include media($md) {
      width: 100%;
    }
    @include media($sm) {
      width: 100%;
    }
    .service-image {
      height: 170px;
      width: 50%;
      @include media($md) {
        width: 70%;
      }
      background-image: url("/assets/img/service-1.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}
#notes {
  background: linear-gradient(91.8deg, #66b9ed 21.58%, #cde8f9 92.47%);
  .note-text {
    font-weight: 500;
  }
  .note-icon {
    font-size: 4rem;
  }
}
#contact {
  background-image: url("/assets/img/cover-bg-2.jpg");
  background-position: center;
  background-size: cover;
  .form-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #979797;
    padding: 10px;
    border-radius: 10px;
    color: #cde8f9;
    font-family: "Poppins", sans-serif;
  }
  .contact-info {
    background-color: rgba(0, 0, 0, 0.512);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    @include media($lg) {
      width: 80%;
    }
    @include media($md) {
      width: 90%;
    }
    @include media($sm) {
      width: 100%;
      padding: 30px 0px;
      margin-top: 30px;
    }
    border: 1px solid #979797;
    border-radius: 15px;
  }
}
footer {
  .under-footer {
    background-color: #d9d9d9 !important;
  }
  .footer-link {
    text-decoration: none;
    color: #000;
  }
}
